@containerWidth: 1200px;

body {
  font-family: 'Lora', serif;
  background-image: url("../images/background.jpeg");
  color: #FFF;
  width: @containerWidth;
  margin: auto;
}
#title {
  text-align: center;
}
code {
  font-size: 24px;
  font-family: 'Consolas', monospace;
}

.gamefield{
  width: 55%;
  height: 50%;
  margin-top: 10%;
  margin-left: 25%;
}

.brownTile{
  float:left;
  width: 5rem;
  height: 5rem;
  background-color: sandybrown;
  z-index: -1;
}
.whiteTile{
  float:left;
  width: 5rem;
  height: 5rem;
  background-color: beige;
  z-index: -1;
}

img{
  width: 5rem;
  height: 5rem;
  z-index: 1;
}
