@containerWidth: 1200px;

body {
  font-family: 'Lora', serif;
  background-image: url("../images/background.jpeg");
  color: #FFF;
  margin: auto;
}
#title {
  text-align: center;
}
code {
  font-size: 24px;
  font-family: 'Consolas', monospace;
}

.gamefield{
  width: 100%;
  height: 50%;
  margin-top: 10%;
  margin-left: 2%;
}

.brownTile{
  float:left;
  background-color: sandybrown;
  z-index: -1;
}
.whiteTile{
  float:left;
  background-color: beige;
  z-index: -1;
}

img{
  width: 100%;
  height: 100%;
  z-index: 1;
  float: left;
}

.navbar-toggler {
  visibility: hidden;
  display: none;
  height: 0;
}

.tile {
  width: 6vw;
  width: 6vw;
  height: 6vw;
}

@media (max-width: 480px) {
  .navbar-toggler {
    float: right;
    visibility: initial;
    display: block;
    height: initial;
  }
}
