@()

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <script src="@routes.Assets.versioned("/bower_components/webcomponentsjs/webcomponents-loader.js")"></script>

        <link rel="import" href="@routes.Assets.versioned("/src/chess-app/chess-app.html")">
    </head>
    <body>
        <chess-app></chess-app>
    </body>
</html>




