@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@import forms.SignInForm.Data
@import b3.inline.fieldConstructor

@(signInForm: Form[Data], socialProviders: SocialProviderRegistry)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("sign.in.title")) {
    <div class="container">
        <div class="col-sm-12">
            <div id="content" class="wrapper doc">

                <h1 id="title">Willkommen zu Schach</h1>

                <section id="grundlegend"><h2>Grundlegende Regeln</h2>
                    <div>
                        <p>
                            Der König ist die wichtigste Figur beim Schach. Ein Königsangriff, auch Schach genannt, muss unverzüglich abgewehrt werden. Das Spiel Schach wird auf einem Brett mit 64 Feldern gespielt. Ein Spieler bewegt die weißen Steine, der andere die schwarzen. Es muss immer abwechselnd gezogen werden. Weiß beginnt, nachdem die Ausgangsstellung wie im nebenstehenden Bild aufgebaut wurde. Nur gegnerische Steine können geschlagen werden. Ein geschlagener Stein ist aus dem Spiel.
                        </p>
                    </div>
                </section>
                <section id="gangart">
                    <h2>Gangarten</h2>
                    <div id="springer">
                        <p>
                            Der Springer kann wie im Bild angegeben ziehen. Im Gegensatz zu allen anderen Figuren kann er andere Steine überspringen. Er zieht immer zwei Felder horizontal und ein Feld vertikal oder zwei Felder vertikal und ein Feld horizontal.
                        </p>
                    </div>
                    <div id="läufer">
                        <p>
                            Der Läufer kann wie in Bild rechts angeben ziehen. (nur diagonal)
                        </p>
                    </div>
                    <div id="turm">
                        <p>
                            Der Turm zieht wie in Bild rechts angegeben, also entweder horizontal oder vertikal. Nur bei der Rochade kann der Turm den König überspringen.
                        </p>
                    </div>
                    <div>
                        <p>
                            Die Dame ist die stärkste Figur auf dem Brett und zieht wie in Bild rechts angegeben. (horizontal, vertikal oder diagonal)
                        </p>
                    </div>
                    <div id="bauer">
                        <p>
                            Der Bauer kann im Normalfall nur ein Feld nach vorn ziehen, aber die dort stehen Steine nicht schlagen. Er greift nur gegnerische Steine an, die vorne links, oder vorne rechts stehen. (Bild rechts - mittlerer Bauer) Nur wenn ein Bauer noch nie bewegt wurde, kann er auch zwei Felder vorziehen. (Bild rechts - linker Bauer) Wenn dadurch jedoch der Bauer das Angriffsfeld eines gegnerischen Bauern überspringt, so kann dieser gegnerische Bauer ihn unmittelbar danach (und nur dann) schlagen. Dieser Sonderfall heißt schlagen en passant (Bild rechts - blauer Zug und danach roter Zug)
                            Ein Bauer muss in einen Springer, Läufer, Turm oder eine Dame umgewandelt werden, wenn dieser die gegnerische Grundreihe erreicht.
                        </p>
                    </div>
                    <div id="könig">
                        <p>
                            Der König ist die wichtige Figur, denn nur dieser kann matt gesetzt werden. Wie die Dame, kann auch der König in jede Richtung ziehen. Ein König jedoch nur ein Feld. (Außer bei der Rochade). Zudem darf er nicht auf Felder ziehen, die vom Gegner angegriffen werden.
                        </p>
                    </div>
                </section>
                <section id="rochade">
                    <h2>Rochade</h2>
                    <p>
                        Bei einer Rochade tauschen König und Turm die Plätze. Der Spieler muss immer den König zuerst bewegen.
                        Bei der kurzen- oder auch kleinen Rochade von Weiß, zieht der König von e1 nach g1 und der Turm von h1 nach f1. Für Schwarz entsprechend König e8-g8 + Turm h8-f8.
                        Bei der langen- oder auch großen Rochade von Weiß, zieht der König von e1 nach c1 und der Turm von a1 nach d1. Für Schwarz entsprechend König e8-c8 + Turm a8-d8.
                        Die Rochade kann nur dann ausgeführt werden, wenn:
                    </p>
                    <ul>
                        <li>der König noch nicht bewegt wurde</li>
                        <li>der beteiligte Turm noch nicht gezogen wurde</li>
                        <li>zwischen dem König und dem beteiligten Turm keine andere Figure steht</li>
                        <li>der König über kein Feld ziehen muss, das durch eine feindliche Figur bedroht wird</li>
                        <li>der König vor und nach Ausführung der Rochade nicht im Schach steht</li>
                        <li>Turm und König müssen auf derselben Reihe stehen</li>
                    </ul>
                </section>
                <section id="wertung">
                    <div>
                        <p>Die Partie zählt als gewonnen, wenn</p>
                        <ul>
                            <li>der Gegner aufgibt</li>
                            <li>der gegenrische König mattgesetzt wurde</li>
                        </ul>
                    </div>
                </section>
                    <fieldset class="col-md-6 col-md-offset-3" id="playerNames">
                        <legend>@messages("sign.in.credentials")</legend>
                        @helper.form(action = controllers.routes.SignInController.submit()) {
                            @helper.CSRF.formField
                            @b3.email(signInForm("email"), '_hiddenLabel -> messages("email"), 'placeholder -> messages("email"), 'class -> "form-control input-lg")
                            @b3.password(signInForm("password"), '_hiddenLabel -> messages("password"), 'placeholder -> messages("password"), 'class -> "form-control input-lg")
                            @b3.checkbox(signInForm("rememberMe"), '_text -> messages("remember.me"), 'checked -> true)
                            <div class="form-group">
                                <div>
                                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@messages("sign.in")</button>
                                </div>
                            </div>
                        }

                        <div>
                            <p class="not-a-member">@messages("not.a.member") <a href="@controllers.routes.SignUpController.view">@messages("sign.up.now")</a> | <a href="@controllers.routes.ForgotPasswordController.view()" title="@messages("forgot.your.password")">@messages("forgot.your.password")</a></p>
                        </div>

                        @if(socialProviders.providers.nonEmpty) {
                            <div class="social-providers">
                                <p>@messages("or.use.social")</p>
                                <div>
                                @for(p <- socialProviders.providers) {
                                    <a href="@controllers.routes.SocialAuthController.authenticate(p.id)" class="provider @p.id" title="@messages(p.id)"><img src="@assets.path(s"images/providers/${p.id}.png")" width="64px" height="64px" alt="@messages(p.id)"></a>
                                }
                                </div>
                            </div>
                        }

                    </fieldset>

            </div>
        </div>
    </div>
}
